# ========================
# Ambientes virtuais
# ========================
venv/
env/
.conda/
*.conda

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Dados (NÃO versionar)
# ========================
data/
artifacts/

# Arquivos grandes comuns
*.csv
*.zip
*.parquet
*.feather
*.h5

# ========================
# Modelos treinados
# ========================
models/
*.pkl
*.joblib

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# Arquivos do sistema
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs e temporários
# ========================
*.log
*.tmp

